@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Orbitron:wght@800&display=swap&family=Outfit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url(images/background3.jpg);
    background-position: center;
    background-size: cover;
 
}

.blur{
    backdrop-filter: blur(15px);
    background: rgba(81, 92, 206, 0.356);
    height: auto;
    
}
h1{
  margin-left: 20px;
  color: azure;
  font-family:Inconsolata,sans-serif ;
  font-size: 30px;
}



* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
    display: none;
    width: 100%;
 
}


/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(254, 127, 59);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.468);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(255, 255, 255);
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.row{
background-color: rgba(0, 0, 0, 0.146);
}
iframe{
margin:15px;
margin-right:0px;
width: 380px;
height:230px;
}

